/* Navigation Bar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
  padding: 10px 10px;
  box-shadow: 4px 4px 4px rgba(14, 14, 14, 0.1);
}

/* Banner Image */
/* Style for the banner image */
.header-img {
  width: 100%;
  max-height: 100vh;
  object-fit: contain;
  box-shadow: 5px 5px 5px rgba(229, 19, 19, 0.1);
  border-radius: 10px;
}

/* About Detail Section */
.about-detail {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  text-align: center;
  line-height: 1.2rem;
  padding: 1rem;
  margin: 0 10rem;
  font-weight: bolder;
  position: relative; /* Add this to ensure text appears above the overlay */
  z-index: 1; /* Place the text above the overlay */
  color: black;
  background-color: #f8f8f8;
}

/* About Header */
.about-header {
  text-align: center;
  font-size: 3rem;
}

/* Fancy Font */
span {
  font-family: "Dancing Script";
}

/* Primary Button */
.btn.btn-primary.btn-lg {
  background-color: rgb(122, 125, 122) !important;
  border-color: transparent !important;
}

/* Styling for the separator line under the banner */
.py-2.bg-body-tertiary.border-bottom {
  background-color: gray !important;
  margin-bottom: 2rem !important;
}

/* Cards Section */
/* Card Styles */
.card {
  border: none !important;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  margin: 0.5rem;
}

/* Card Image Styles */
.card-img-top {
  object-fit: cover; /* Use cover instead of contain */
  height: 450px;
}
